/*共通パーツ*/
/*body共通*/
body{
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
}

body.fixed{
  position: fixed;
}

  body .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    color:#707070;

  }



body a{
 display: block; /*クリックできる領域を広げる*/
 color: #000;
 padding: 1em 0;
}

body ul {
  list-style: none;
}



/*画像共通*/
img{
  width:auto;
  height:auto;
  max-width:50%;
  max-height:50%;
}


/*テキスト共通*/
.txtl{
  font-size: 45px;
  font-weight: 500;
}

.txtm{
  font-size: 30px;
}

.txts{
  font-size: 23px
}

.txtxs{
  font-size: 15px;
  font-weight: 100;
}


/*ヘッダー*/
.logo{
  z-index: 3;
}
/*ヘッダーハンバーガーメニュー*/
nav.NavMenu{
  position:fixed;
  z-index:2;
  top:0;
  left:0;
  text-align:center;
  background-color: #ffffff;
  width:100%;
  height:100vh;
  transform: translateY(-100%);
  transition: all 0.6s;
}

.NavContent{
  padding:70px 0;
}

nav.NavMenu.active{
  transform: translateY(0%);
}

  nav.NavMenu ul li{
    border:1px solid;
    margin:20px 0;
  }

.Toggle {
    display: block;
    position: absolute;    /* bodyに対しての絶対位置指定 */
    right: 10px;
    top: 11px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 4;
    border:solid 1px;
}

  .Toggle span {
      display: block;
      position: absolute;
      width: 30px;
      border-bottom: solid 3px #000;
      -webkit-transition: .35s ease-in-out;	/*変化の速度を指定*/
      -moz-transition: .35s ease-in-out;		/*変化の速度を指定*/
      transition: .35s ease-in-out;			/*変化の速度を指定*/
      left: 6px;
  }

    .Toggle span:nth-child(1) {
        top: 9px;
    }

    .Toggle span:nth-child(2) {
        top: 18px;
    }

    .Toggle span:nth-child(3) {
        top: 27px;
    }

    /* 最初のspanをマイナス45度に */
    .Toggle.active span:nth-child(1) {
        top: 18px;
        left: 6px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    /* 2番目と3番目のspanを45度に */
    .Toggle.active span:nth-child(2),
    .Toggle.active span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }


/*ヒーロー*/

.bg-img{
  background-image: url(img/background.png);
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;/*場合によってはno-repeat*/
  background-position: center;
}

.hero{
  color:white;
  padding:30% 40% 30% 5%;
}

.hero-content{
  padding:80px 0px;
  border:solid 5px;
}



/*トップに戻るボタン*/
#pagetop{
  position: fixed;
  right:50px;
  bottom:20px;
  padding:20px 25px;
  display: none;
  cursor:pointer;
  background-color: gray;
}

@media (min-width: 769px) {

  /*リンクホバーの時CSS3*/
  body a{
   display: block; /*クリックできる領域を広げる*/
   color: #000;
   padding: 1em 0;
   position:relative;
   padding:0.1em 0.3em;
   display:inline-block;
   transition:.3s;
  }

  body a:hover{
    color:#000;
    text-decoration: none;
  }

  a::after{
    position:absolute;
    bottom:0;
    left:50%;
    content:'';
    width:0;
    height:1px;
    background-color: #000;
    transition: .3s;
    transform: translateX(-50%);
  }

  a:hover::after {
  	width: 100%;
  }

  /*共通パーツ*/
  div .content{
    padding:10px 150px;
  }

  img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
  }

  /*ヒーロー部分*/
  .hero{
    color:white;
    padding:180px 25%!important ;
  }

  /*アバウト部分*/
  .about-img{
    width:25%;
    height:25%;
  }

  .scale {
    transition-duration: 0.3s; /*変化の時間*/
  }
  .scale:hover {
    transform: scale(1.1,1.1); /*画像の拡大*/
    cursor: pointer; /*カーソルをポインターにする*/
  }
}
